* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --designcolor: burlywood;
    --fontcolor: white;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #070a13;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: auto;
    margin: 0px 5em;
}

#hero img {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    border: 3px solid var(--designcolor);
}

h1, h2, h3 {
    text-decoration: underline;
    color: var(--designcolor)
}

p {
    color: white;
}

.stack {
    display: flex;
    justify-content: space-evenly;
    height: 10em;
    width: 80%;
}

.stack .fa-brands{
    color: #e11d48 ;
    font-size: 10em;
}

.fa-brands:hover {
    animation: stack .5s linear 0s 1 forwards normal;
}
@keyframes stack {
    0% {transform:translateY(0%);}
    50% {transform:translateY(-10%);}
    100% {transform:translateY(0%);}
}


nav a {
    text-decoration: none;
    color: #94a3b8 !important;
    width: 100px;
}

nav ul a:hover {
    transition: all .4s ease-in 0s;
    color: #e11d48 !important;
}

.heroJumbotron {
    background-color: transparent !important;
    text-align: center;
}

.introText {
   margin-top: 5%;
}

.stack .fa-brands{
    color: #e11d48 ;
    font-size: 9em;
}

.p-5 {
    margin-top: 20rem;
    /* border: 2px solid red; */
}

#My-projects {
    text-align: center;
    position: relative;
    top: 20em;
    /* border: 2px solid yellowgreen; */
}



img {
    border-radius: 20px;
    height: 20em
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

.col-lg-12 h2 {
    margin-bottom: 20px;
}
                    

.card {
    background: transparent !important;
    padding: 5%;
}

.cardshadow {
    border: 2px solid burlywood;
    padding-top: 3%;
    border-radius: 20px;
    box-shadow: 5px 5px 2px rgb(87, 85, 85);
}
.cardshadow:hover {
    box-shadow: -5px 5px 5px #94a3b8, 5px -5px 5px #94a3b8;
    transition: all .1s linear 0s;
    transform: scale(1.01);
    background: #e11d48 !important;
}


.card-title  {
    color: burlywood;
}

.card .fa-solid {
    color: burlywood;
    font-size: 2rem;
}

.card .fa-solid:hover {
    color: #070a13;
}


#about-me {
    position: relative;
    top: 350px !important;
    text-align: center;
    margin-bottom: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#about-me .highlight{
    color: #e11d48;
    text-transform: capitalize;
}



.skillset .fa-solid {
    color: #e11d48;
    font-size: 3rem;
    margin-bottom: 40px !important;
}

.skillset .card-title {
    margin-bottom: 50px;
}

#skillset {
    padding: 10%;
    margin-top: 20px;
    /* border: 2px solid red; */
}

.skillcard {
    border: 2px solid burlywood;
    border-radius: 10px;
    padding: 10%
}

.skillcard:hover {
    transform: scale(1.05);
    transition: all 0.2s linear 0s;
}

footer {
    position: relative;
    top: 250px;
    display: flex;
    justify-content: center;
    column-gap: 10%;
    padding: 1%;
    padding-top: 0%;
}
footer .fa-brands {
    color: var(--designcolor);
    font-size: 5em;
}

footer .fa-brands:hover {
    box-shadow: -4px 0px 4px #94a3b8, 4px 4px 4px #94a3b8;
}

#contact-form {
    color: white;
    border: 2px solid #94a3b8;
    padding: 2%;
    filter: brightness(.5);
}

#contact-form:hover {
    filter: brightness(1);
}